#miniworld{

   height:1000px;
   width: 100%;
   background-color:whitesmoke;
   border-radius: 5px;
   box-shadow: 4px 4px 1px black;

}

.router{
  width:25px;
  height: 25px;
  border-radius: 50%;
  background-color: #0ca4ff;
}

#svgworld{
  display: block;
  height:1000px;
  width: 100%;
}

#svgLegend{
  display:block;
  width: 100%;
  height:350px;
  border: 1px solid black;
}

.line{
  stroke-width:2;
  stroke:rgb(0,0,0);

}
